/Apis/bin
/Apis/obj
/Apis/Properties
/Apis/Properties/*
/packages
/Service/obj
/Service/bin
/Service/Service.csproj.vspscc
/Service/Service.csproj.user
/Entity/obj
/Entity/bin
/DAL/obj
/DAL/bin
/BLL/obj
/BLL/bin
/Apis/Apis.csproj.vspscc
/Apis/Apis.csproj.user
/BLL/BLL.csproj.vspscc
/Apis/appsettings.Development.json
/DAL/DAL.csproj.vspscc
/Entity/Entity.csproj.vspscc
/lib

\.vs/
\.vscode/

